@page "/"

<PageTitle>PetSpotR</PageTitle>

<div class="splash">
    <img src="logo.svg" />
</div>

<h2>Reconnect with your lost pets using advanced AI</h2>

<div class="buttons">
    <a class="btn btn-primary btn-lg" role="button" href="/lost">I lost my pet</a>
    <a class="btn btn-success btn-lg" role="button" href="/found">I found a pet</a>
</div>