@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using Dapr.Client
@using PetSpotR.Models
@inject ILogger<LostPet> Logger
@inject IWebHostEnvironment Environment
@inject NavigationManager NavigationManager


<EditForm Model="@petModel" OnSubmit="@HandleSubmit" method="post">
    <div class="form-container">
        <h2>Step 1: Tell us about your lost pet</h2>
        <h3>What kind of pet do you have and where did you lose it?</h3>
        <div class="form-group row justify-content-center">
            <label for="petname" class="col-2 col-form-label">Pet Name</label>
            <div class="col-4">
                <InputText id="petname" @bind-Value="petModel.Name" />
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="petType" class="col-2 col-form-label">Pet Type</label>
            <div class="col-4">
                <InputSelect id="type" @bind-Value="petModel.Type">
                    <option>Dog</option>
                    <option>Cat</option>
                    <option>Bird</option>
                    <option>Rabbit</option>
                    <option>Frog</option>
                </InputSelect>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="petBreed" class="col-2 col-form-label">Pet Breed</label>
            <div class="col-4">
                <InputText id="breed" @bind-Value="petModel.Breed" />
            </div>
        </div>

        <h2>Step 2: Where did you lose your pet</h2>
        <h3>Tell us where you lost your pet, so we can narrow our search for you</h3>
        <div class="form-group row justify-content-center">
            <label for="lostlocation" class="col-2 col-form-label">City</label>
            <div class="col-4">
            <InputSelect id="lostlocation" @bind-Value="petModel.City">
                <option disabled>Select City</option>
                <option>Sydney</option>
                <option>Melbourne</option>
                <option>Brisbane</option>
                <option>Perth</option>
                <option>Adelaide</option>
                <option>Gold Coast</option>
                <option>Canberra</option>
                <option>Newcastle</option>
                <option>Wollongong</option>
                <option>Sunshine Coast</option>
            </InputSelect>
            </div>
        </div>

        <h2>Step 3: Upload images of your pet</h2>
        <p><i>For best results upload at least 8-10 images with different angles, lighting, and backgrounds</i></p>
        <div class="form-group row justify-content-center">
            <div class="col-4">
                <label>
                    <InputFile id="petimage" OnChange="@SelectImages" multiple accept=".png,.jpg,.jpeg" />
                </label>
            </div>
        </div>
        @if (isLoading)
        {
            <p>Uploading...</p>
        }

        <h2>Step 4: Tell us about you</h2>
        <h3>Tell us some of your details so we can get in touch if we find your pet</h3>

        <div class="form-group row justify-content-center">
            <label for="ownername" class="col-2 col-form-label">Owner Name</label>
            <div class="col-4">
                <InputText id="ownername" @bind-Value="petModel.OwnerName" />
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="owneremail" class="col-2 col-form-label">Owner Email</label>
            <div class="col-4">
                <InputText id="owneremail" @bind-Value="petModel.OwnerEmail" />
            </div>
        </div>
        
        <h2>Step 5: Submit lost pet</h2>
        <div class="form-group row">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private List<IBrowserFile> loadedImages = new();
    private long maxFileSize = 1024 * 1000;
    private int maxAllowedFiles = 20;
    private bool isLoading;

    private PetModel petModel = new();

    private async void HandleSubmit()
    {
        var uploadedFiles = new List<string>();
        Logger.LogInformation("Form submitted");

        // Process the form
        var daprClient = new DaprClientBuilder().Build();

        foreach (var image in loadedImages)
        {
            var stream = image.OpenReadStream(maxFileSize);

            MemoryStream ms = new MemoryStream();
            await stream.CopyToAsync(ms);

            var filename = $"{Guid.NewGuid().ToString()}{Path.GetExtension(image.Name)}";

            try
            {
                Logger.LogInformation("Uploading file: {Filename}", image.Name);
                await daprClient.InvokeBindingAsync(
                    bindingName: "images",
                    operation: "create",
                    data: ms.ToArray(),
                    metadata: new Dictionary<string, string>
                    {
                        { "contentType", image.ContentType },
                        { "blobName", filename },
                        { "fileName", filename }
                    }
                );
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", image.Name, ex.Message);
            }

            petModel.Images.Add(filename);

        }

        await petModel.SavePetStateAsync(daprClient, "pets");
        await petModel.PublishLostPetAsync(daprClient, "pubsub");

        NavigationManager.NavigateTo("/submit");
    }

    private void SelectImages(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedImages.Clear();

        Logger.LogInformation("New images selected");

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {

            loadedImages.Add(file);
        }

        isLoading = false;
    }

}
