h1,h2,p {
    text-align: center;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttons a {
    margin: 20px;
}

.row {
    margin: 10px;
}

label {
    font-weight: 600;
}

form {
    /*center the form on the page*/
    margin: 0 auto;
    width: 50%;
}

button {
    /* center the button */
    margin: 0 auto;
    display: block;
}
