@page "/submit"

<PageTitle>Pet Submitted</PageTitle>

<div class="splash">
    <img src="lost.svg" />
</div>

<h2>Thank you for reporting your lost pet.</h2>
<p>We're using our advanced AI model to find a match. You will receive an email if your pet is found.</p>