@page "/submit/found"

<PageTitle>Pet Submitted</PageTitle>

<div class="splash">
    <img src="found.svg" />
</div>

<h2>Thank you for reporting a found pet!</h2>
<p>Our advanced AI model will attempt to find a match, and alert you and the owner if one is found.</p>