@inherits LayoutComponentBase

<PageTitle>PetSpotR</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href ="/" target="_blank">Home</a>
            <a href="/lost" target="_blank">Lost Pet</a>
            <a href="/found" target="_blank">Found Pet</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
